# List

References:

- [Gap Minder, Lists](http://swcarpentry.github.io/python-novice-gapminder/11-lists/index.html)
- [Python Standard Library, Built-in Types, Sequence Types](https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range)

There are three basic sequece types: lists, tuples, and range objects. Lists are mutable sequences, typically used to store collections of homogeneous items.

*Lists* are mutable sequences, typically used to store collections of homogeneous items (where the precise degree of similarity will vary by application).

Lists may be constructed in several ways:

- Using a pair of square brackets to denote the empty list: `[]`
- Using square brackets, separating items with commas: `[a]`, `[a, b, c]`
- Using a list comprehension: `[x for x in iterable]`
- Using the type constructor: `list()` or `list(iterable)`

In [1]:
teens = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [2]:
teens

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Use `len()` to find out how many values are in a list.

In [3]:
len(teens)

10

## Indexing

Use an itemâ€™s index to fetch it from a list. `[0]` gives the first element.

In [4]:
teens[0]

10

Python interprets a negative index as starting from the end (as opposed to starting from the beginning). The last element is `-1`.

In [5]:
teens[-1]

19

## Slices

The slice of a list from `i` to `j` is defined as the sequence of items with index `n` such that `i <= n < j`.

In [6]:
teens[1:4]

[11, 12, 13]

If `i` is omitted, use 0.

In [7]:
teens[:4]

[10, 11, 12, 13]

If `j` is omitted, use `len(s)`.

In [8]:
teens[5:]

[15, 16, 17, 18, 19]

If `i` is greater than or equal to `j`, the slice is empty.

In [9]:
teens[999:]

[]

The slice of a list from `i` to `j` with step `k` is defined as the sequence of items with index `x = i + n*k` such that `0 <= n < (j-i)/k`. In other words, the indices are `i`, `i+k`, `i+2*k`, `i+3*k` and so on, stopping when `j` is reached (but never including `j`).

In [10]:
teens[1::2]

[11, 13, 15, 17, 19]

`new = old[:]` however creates a new list object `new` containing all elements from the list `old`; `new` and `old` are different objects.

In [11]:
high_teens = teens[5:]

In [12]:
high_teens

[15, 16, 17, 18, 19]

`new = old` makes new a *reference* to the list `old`; `new` and `old` point towards the same object.

In [13]:
new_high_teens = high_teens
new_high_teens[0] = 999
high_teens

[999, 16, 17, 18, 19]

# Tuples

*Tuples* are immutable sequences, typically used to store collections of heterogeneous data (such as the 2-tuples produced by the `enumerate()` built-in). Tuples are also used for cases where an immutable sequence of homogeneous data is needed (such as allowing storage in a `set` or `dict` instance).

Tuples may be constructed in a number of ways:
- Using a pair of parentheses to denote the empty tuple: `()`
- Using a trailing comma for a singleton tuple: `a`, or `(a,)`
- Separating items with commas: `a, b, c` or `(a, b, c)`
- Using the `tuple()` built-in: `tuple()` or `tuple(iterable)`

In [14]:
t = 1, 2, 3

In [15]:
t

(1, 2, 3)

In [16]:
sum = 0
for x in (1, 2, 3):
    sum = sum + x

In [17]:
sum

6

In [18]:
list((1, 2, 3))

[1, 2, 3]

# Ranges

The `range` type represents an immutable sequence of numbers and is commonly used for looping a specific number of times in `for` loops.
- `range(stop)`
- `range(start, stop)`
- `range(start, stop, step)`

 If the `step` argument is omitted, it defaults to 1. If the `start` argument is omitted, it defaults to 0. If `step` is zero, ValueError is raised.

In [19]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
sum = 0
for x in range(1, 11):
    sum = sum + x

In [21]:
sum

55

In [22]:
list(range(0, 30, 5))

[0, 5, 10, 15, 20, 25]

# Set Types &mdash; `set`, `frozenset`

A set object is an unordered collection of distinct hashable objects. Common uses include membership testing, removing duplicates from a sequence, and computing mathematical operations such as intersection, union, difference, and symmetric difference. (For other containers see the built-in `dict`, `list`, and `tuple` classes, and the collections module.)

Like other collections, sets support `x in set`, `len(set)`, and `for x in set`. Being an unordered collection, sets do not record element position or order of insertion. Accordingly, sets do not support indexing, slicing, or other sequence-like behavior.

There are currently two built-in set types, *set* and *frozenset*. The `set` type is *mutable* â€” the contents can be changed using methods like `add()` and `remove()`. Since it is mutable, it has no hash value and cannot be used as either a dictionary key or as an element of another set. The `frozenset` type is *immutable* and hashable â€” its contents cannot be altered after it is created; it can therefore be used as a dictionary key or as an element of another set.

Non-empty sets (not frozensets) can be created by placing a comma-separated list of elements within braces, for example:

In [23]:
s = {'jack', 'sjoerd'}

In [24]:
s

{'jack', 'sjoerd'}

In [25]:
for x in s:
    print(x)

jack
sjoerd

# Mapping Types &mdash; `dict`

A *mapping* object maps *hashable* values to arbitrary objects. Mappings are mutable objects. There is currently only one standard mapping type, the dictionary. (For other containers see the built-in `list`, `set`, and `tuple` classes, and the `collections` module.)

A dictionaryâ€™s keys are almost arbitrary values. Values that are not hashable, that is, values containing lists, dictionaries or other mutable types (that are compared by value rather than by object identity) may not be used as keys. Numeric types used for keys obey the normal rules for numeric comparison: if two numbers compare equal (such as 1 and 1.0) then they can be used interchangeably to index the same dictionary entry. (Note however, that since computers store floating-point numbers as approximations it is usually unwise to use them as dictionary keys.)

Dictionaries can be created by placing a comma-separated list of `key: value` pairs within braces, for example:

In [26]:
d = {'jack': 4098, 'sjoerd': 4127}

In [27]:
d

{'jack': 4098, 'sjoerd': 4127}

In [28]:
for x in d:
    print(x)

jack
sjoerd