In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "Name": [
        "Braund, Mr. Owen Harris",
        "Allen, Mr. William Henry",
        "Bonnell, Miss. Elizabeth",        
    ],
    "Age": [22, 35, 58],
    "Sex": ["male", "male", "female"],
})

In [3]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

A `DataFrame` is a 2-dimensional data structure that can store data of different types in *columns*.

- The DataFrame has 3 columns, each of them with a *column label*. The column labels are respectively `Name`, `Age` and `Sex`.
- The column `Name` consists of textual data with each value a string, the column `Age` are numbers and the column `Sex` is textual data.

In [4]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

When selecting a single column of a pandas `DataFrame`, the result is a pandas `Series`.

In [5]:
ages = pd.Series([22, 35, 58], name="Age")

In [6]:
ages

0    22
1    35
2    58
Name: Age, dtype: int64

You can create a `Series` from scratch as well; A pandas `Series` has no column labels, as it is just a single column of a `DataFrame`. A `Series` does have row labels.

In [7]:
df["Age"].max()

58

In [8]:
ages.max()

58

As illustrated by the `max()` method, you can do things with a `DataFrame` or `Series`. pandas provides a lot of functionalities, each of them a method you can apply to a `DataFrame` or `Series`.

In [9]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

The `describe()` method provides a quick overview of the numerical data in a `DataFrame`. As the `Name` and `Sex` columns are textual data, these are by default not taken into account by the `describe()` method.